table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 1px 1px 1px 1px #ccc;
}
thead, tbody {
    width: 100%;
}
tr {
    border-bottom: 1px solid #ccc;
    height: 46px;
    box-sizing: border-box;
}
tr:hover {
    background-color: #e9ebee;
}
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tbody tr.checked {
    background-color: #EBF9F4;
    background-repeat: no-repeat;
}

 /*th*/
    
 th {
    position: sticky;
    top: 0;
    background-color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 15px 16px;
}

th:hover {
    overflow: auto;
    white-space: nowrap;
    text-overflow: initial;
}

tr th:first-child {
    max-width: 82px;
}

tr th:nth-child(2) {
    text-align: left;
    max-width: 164px;
}

tr th:nth-child(3) {
    text-align: left;
    max-width: 150px;
}

tr th:nth-child(4) {
    text-align: left;
    max-width: 102px;
}

tr th:nth-child(5) {
    text-align: center;
    max-width: 119px;
}

tr th:nth-child(6) {
    text-align: left;
    max-width: 169px;
}

tr th:nth-child(7) {
    text-align: left;
}

tr th:nth-child(8) {
    text-align: left;
}

tr th:nth-child(9) {
    text-align: left;
    max-width: 174px;
}

tr th:last-child {
    max-width: 215px;
}
/* td */

td {
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 15px 16px;
    box-sizing: border-box !important;
 
}

td:hover {
    text-align: left;
    white-space: nowrap;
}

tr td:first-child {
    max-width: 82px;
}

tr td:nth-child(2) {
    text-align: left;
    max-width: 164px;
}

tr td:nth-child(3) {
    text-align: left;
    max-width: 150px;
}

tr td:nth-child(4) {
    text-align: left;
    max-width: 102px;
}

tr td:nth-child(5) {
    text-align: center;
    max-width: 119px;
}

tr td:nth-child(6) {
    text-align: left;
    max-width: 169px;
}

tr td:nth-child(7) {
    text-align: left;   
}
tr td:nth-child(8) {
    text-align: left !important;   
}
tr td:nth-child(9) {
    text-align: left !important;   
}
tr td:nth-child(10) {
    text-align: right !important;   
}
/*
Chuẩn Convention:   Tiền or số - Căn phải
                    Ngày tháng - Căn giữa
                    Text - Căn trái.
*/

tr td:last-child {
    max-width: 215px;
    text-align: left;
}
table .checkbox {
    /* width: 42px !important; */
    cursor: pointer;
    margin: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #bbb;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-checked {
    background-color: #019160;
    background-image: url("../../assets/icon/tick.png");
}